
.ms-player-container{
    display: block;
    right: calc( var(--logo-size-h) * 0.5 );
    width: 60px !important; 
    height: 60px !important;
  }
  
  /* Player background */
  .ms-player-container.mejs-container,
  .ms-player-container .mejs-controls,
  .ms-player-container .mejs-embed,
  .ms-player-container .mejs-embed body {
    background-color: transparent
  }
  
  /* Player controls */
  .ms-player-container .mejs-controls div,
  .ms-player-container .mejs-controls a
  {
      display: none;
  }
  
  .ms-player-container .mejs-controls .mejs-playpause-button{
    display: initial;
    transform: scale(2.3) translateX(-3px);
    background: url( '../assets/ms-sound.svg' ) no-repeat;
  }

  .ms-player-container .mejs-controls .mejs-playpause-button.mejs-pause{
    background: url( '../assets/ms-sound-on.svg' ) no-repeat;
  }

  .ms-player-container .mejs-controls .mejs-playpause-button button{
    background: none;
  }

  @media only screen and (max-width: 800px), (pointer: coarse) {
    .ms-player-container{
        transform: scale(0.85) translateY(-10px);
    }
  }